textarea {
  outline: none;
  border: 0 none;
  position: absolute;
  left: 5%;
  top: 5%;
  background: rgba(255,255,255,0.4);
  wrap: off;
  /* has trouble on FF */
  white-space: nowrap;
  font-size: 2em;
}
canvas, body {
  border: 0 none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  /*background: #000000;*/
}
