<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>dundass</title>

		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/vuepages.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">

		<script src="js/itera.js"></script>
		<script src="https://unpkg.com/vue"></script>
		<!-- <script src="https://www.gitcdn.xyz/repo/dundass/js-utils/master/vuepages.js"></script> -->
		
		<script>
		var vuepages = vuepages || {};

(function(vp) {

	if(typeof window.Vue === 'undefined') throw new Error('Vue not present on window :(');
	
	Vue.component('page-section', {
		props: ['title', 'paragraphs'],
		data: function() { return {} },
		methods: {},
		template:
			'<div class="section">\
				  <h2>{{ title }}</h2>\
				  <p v-for="paragraph in paragraphs" v-html="paragraph"></p>\
				  <slot></slot>\
				</div>\
				'
	})
	
	Vue.component('homepage', {
		props: ['title', 'headerimage', 'mailto', 'contactblurb', 'sections'],
		data: function() { return {} },
		methods: {},
		template: 
			'\
			<div class="container">\
			\
			  <div class="header">\
				<div class="image-container" v-show="headerimage">\
					<img class="header-image" v-bind:src="headerimage" id="headerImage">\
				</div>\
				<h1>{{ title }}</h1>\
			  </div>\
			  \
			  <div class="main">\
				<page-section v-for="section in sections" v-bind:title="section.title" v-bind:paragraphs="section.paragraphs">{{section.slot ? section.slot : \'\'}}</page-section>\
				<slot></slot>\
				<page-section v-bind:title="\'contact\'">\
				  <p>{{contactblurb}}</p>\
				  <p>\
					<a v-bind:href="mailto">\
					{{mailto}}\
					</a>\
				  </p>\
				</page-section>\
			  </div>\
			  \
			</div>'
	});

})(vuepages);
		</script>
		
		<script>
		
			function init() {
				
				app = new Vue({
					el: '#wrapper',
					data: {
						sections: [
							{ title: 'hello', paragraphs: ['i make music and visuals, by hand and by machine', 
														   'get in touch if you\'re after audible or visual treats'] },
							{ title: 'audio', paragraphs: ['i can record, produce and mix your music, create remixes, or play live with <a href="https://typeensemble.wordpress.com/">TYPE</a>, <a href="https://www.facebook.com/LoEginBrassSabbath/">Lo Egin</a>, <a href="https://dundass.github.io/kvlt.html">TYKE</a> or solo', 
														   'i also put out mostly slow music on the <a href="https://www.dontdronealone.com">don\'t drone alone</a> label'] },
							{ title: 'visual', paragraphs: ['i provide live projections for musical events and performances using custom software and the live code environment <a href="https://github.com/ojack/hydra">hydra</a>, and can create music videos using the same processes'] },
							{ title: 'code', paragraphs: ['i write javascript (Vue.js, Three.js, node.js), (s)css, html, java, and arduino, mostly for creative applications', 
														  'i can make websites such as this one and the <a href="https://www.dontdronealone.com">don\'t drone alone</a> page', 
														  'for livecoding music, i use <a href="http://foxdot.org/">FoxDot</a> with <a href="https://github.com/Qirky/Troop/">Troop</a> to play with my friends'] }
						],
						contactBlurb: 'please reach out if you\'re interested in collaboration or bookings'
					},
					methods: {},
					mounted: function () {
						document.getElementById('wrapper').style.zIndex = 'auto';
					}
				})
				
			}
		
		</script>
	</head>

	<body onload="init()">
	
		<div id="wrapper" style="z-index: -999">
			
			<homepage v-bind:title="'dundass'" v-bind:mailto="'lauriej1316@gmail.com'" v-bind:sections="sections" v-bind:contactblurb="contactBlurb"></homepage>
			
		</div>
		
	</body>
</html>
